@media screen and (min-width: 990px) {
    .header-middle-left {
        grid-template-areas: "heading navigation icon";
        grid-template-columns: auto auto 1fr;
        column-gap: 2rem;
    }
}



@media screen and (min-width: 990px) {

    .header-menu,
    .header-link {
        display: block;
        justify-content: start;
    }

}